*{
   text-decoration: none;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 50px;
    padding-right: 40px;
    color: #02B589;
}
.headerp{
   color: #02B589;
   margin-top: 10px;

}
.button{
    background-color: #02B589;
    border-radius: 40px;
    width: 130px;
    height: 35px;
    border: none;
    margin-top: 10px;
}
.container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.input{
    height:30px;
    width: 580px;
    border-radius: 20px;
    border: none;
    border: 1px solid rgb(216, 216, 216);
}
.shortbutn{
    width: 100px;
    height: 35px;
    margin-left: 5px;
    border-radius: 20px;
    border: none;
    background-color: #02B589;
}
.minicont{
    display: flex;
    flex-direction: row;
    margin-top:10px;
}
.urlContainer {   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 90px;
  
    transition: 500ms;
  }
  .urlTexts {
    opacity: 80%;
  }
a:link { text-decoration: none; color: black;}
.histcont{
    display: flex;
    flex-direction: row;
}
.full{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.short{
    display: flex;
    flex-direction:column;
    width: 300px;
    
}
.histname{
   color:#02B589;
   padding-top:50px;
   display: flex;
}
.copy{
    padding-top:26px;
    color:#02B589;
    text-decoration: underline;
}

/* dropdown  */

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdowncontent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width:95px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdowncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdowncontent a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdowncontent {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}